/*
Mistral AI API

Our Chat Completion and Embeddings APIs specification. Create your account on [La Plateforme](https://console.mistral.ai) to get access and read the [docs](https://docs.mistral.ai) to learn how to use it.

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package mistral

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


type FimAPI interface {

	/*
	FimCompletionV1FimCompletionsPost Fim Completion

	FIM completion.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiFimCompletionV1FimCompletionsPostRequest
	*/
	FimCompletionV1FimCompletionsPost(ctx context.Context) ApiFimCompletionV1FimCompletionsPostRequest

	// FimCompletionV1FimCompletionsPostExecute executes the request
	//  @return FIMCompletionResponse
	FimCompletionV1FimCompletionsPostExecute(r ApiFimCompletionV1FimCompletionsPostRequest) (*FIMCompletionResponse, *http.Response, error)
}

// FimAPIService FimAPI service
type FimAPIService service

type ApiFimCompletionV1FimCompletionsPostRequest struct {
	ctx context.Context
	ApiService FimAPI
	fIMCompletionRequest *FIMCompletionRequest
}

func (r ApiFimCompletionV1FimCompletionsPostRequest) FIMCompletionRequest(fIMCompletionRequest FIMCompletionRequest) ApiFimCompletionV1FimCompletionsPostRequest {
	r.fIMCompletionRequest = &fIMCompletionRequest
	return r
}

func (r ApiFimCompletionV1FimCompletionsPostRequest) Execute() (*FIMCompletionResponse, *http.Response, error) {
	return r.ApiService.FimCompletionV1FimCompletionsPostExecute(r)
}

/*
FimCompletionV1FimCompletionsPost Fim Completion

FIM completion.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiFimCompletionV1FimCompletionsPostRequest
*/
func (a *FimAPIService) FimCompletionV1FimCompletionsPost(ctx context.Context) ApiFimCompletionV1FimCompletionsPostRequest {
	return ApiFimCompletionV1FimCompletionsPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return FIMCompletionResponse
func (a *FimAPIService) FimCompletionV1FimCompletionsPostExecute(r ApiFimCompletionV1FimCompletionsPostRequest) (*FIMCompletionResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *FIMCompletionResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FimAPIService.FimCompletionV1FimCompletionsPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/fim/completions"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.fIMCompletionRequest == nil {
		return localVarReturnValue, nil, reportError("fIMCompletionRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "text/event-stream"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.fIMCompletionRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
