/*
Mistral AI API

Our Chat Completion and Embeddings APIs specification. Create your account on [La Plateforme](https://console.mistral.ai) to get access and read the [docs](https://docs.mistral.ai) to learn how to use it.

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package mistral

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


type EmbeddingsAPI interface {

	/*
	EmbeddingsV1EmbeddingsPost Embeddings

	Embeddings

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiEmbeddingsV1EmbeddingsPostRequest
	*/
	EmbeddingsV1EmbeddingsPost(ctx context.Context) ApiEmbeddingsV1EmbeddingsPostRequest

	// EmbeddingsV1EmbeddingsPostExecute executes the request
	//  @return EmbeddingResponse
	EmbeddingsV1EmbeddingsPostExecute(r ApiEmbeddingsV1EmbeddingsPostRequest) (*EmbeddingResponse, *http.Response, error)
}

// EmbeddingsAPIService EmbeddingsAPI service
type EmbeddingsAPIService service

type ApiEmbeddingsV1EmbeddingsPostRequest struct {
	ctx context.Context
	ApiService EmbeddingsAPI
	embeddingRequest *EmbeddingRequest
}

func (r ApiEmbeddingsV1EmbeddingsPostRequest) EmbeddingRequest(embeddingRequest EmbeddingRequest) ApiEmbeddingsV1EmbeddingsPostRequest {
	r.embeddingRequest = &embeddingRequest
	return r
}

func (r ApiEmbeddingsV1EmbeddingsPostRequest) Execute() (*EmbeddingResponse, *http.Response, error) {
	return r.ApiService.EmbeddingsV1EmbeddingsPostExecute(r)
}

/*
EmbeddingsV1EmbeddingsPost Embeddings

Embeddings

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiEmbeddingsV1EmbeddingsPostRequest
*/
func (a *EmbeddingsAPIService) EmbeddingsV1EmbeddingsPost(ctx context.Context) ApiEmbeddingsV1EmbeddingsPostRequest {
	return ApiEmbeddingsV1EmbeddingsPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return EmbeddingResponse
func (a *EmbeddingsAPIService) EmbeddingsV1EmbeddingsPostExecute(r ApiEmbeddingsV1EmbeddingsPostRequest) (*EmbeddingResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *EmbeddingResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EmbeddingsAPIService.EmbeddingsV1EmbeddingsPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/embeddings"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.embeddingRequest == nil {
		return localVarReturnValue, nil, reportError("embeddingRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.embeddingRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
