/*
Mistral AI API

Our Chat Completion and Embeddings APIs specification. Create your account on [La Plateforme](https://console.mistral.ai) to get access and read the [docs](https://docs.mistral.ai) to learn how to use it.

API version: 0.0.2
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package mistral

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


type AgentsAPI interface {

	/*
	AgentsCompletionV1AgentsCompletionsPost Agents Completion

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiAgentsCompletionV1AgentsCompletionsPostRequest
	*/
	AgentsCompletionV1AgentsCompletionsPost(ctx context.Context) ApiAgentsCompletionV1AgentsCompletionsPostRequest

	// AgentsCompletionV1AgentsCompletionsPostExecute executes the request
	//  @return ChatCompletionResponse
	AgentsCompletionV1AgentsCompletionsPostExecute(r ApiAgentsCompletionV1AgentsCompletionsPostRequest) (*ChatCompletionResponse, *http.Response, error)
}

// AgentsAPIService AgentsAPI service
type AgentsAPIService service

type ApiAgentsCompletionV1AgentsCompletionsPostRequest struct {
	ctx context.Context
	ApiService AgentsAPI
	agentsCompletionRequest *AgentsCompletionRequest
}

func (r ApiAgentsCompletionV1AgentsCompletionsPostRequest) AgentsCompletionRequest(agentsCompletionRequest AgentsCompletionRequest) ApiAgentsCompletionV1AgentsCompletionsPostRequest {
	r.agentsCompletionRequest = &agentsCompletionRequest
	return r
}

func (r ApiAgentsCompletionV1AgentsCompletionsPostRequest) Execute() (*ChatCompletionResponse, *http.Response, error) {
	return r.ApiService.AgentsCompletionV1AgentsCompletionsPostExecute(r)
}

/*
AgentsCompletionV1AgentsCompletionsPost Agents Completion

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiAgentsCompletionV1AgentsCompletionsPostRequest
*/
func (a *AgentsAPIService) AgentsCompletionV1AgentsCompletionsPost(ctx context.Context) ApiAgentsCompletionV1AgentsCompletionsPostRequest {
	return ApiAgentsCompletionV1AgentsCompletionsPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ChatCompletionResponse
func (a *AgentsAPIService) AgentsCompletionV1AgentsCompletionsPostExecute(r ApiAgentsCompletionV1AgentsCompletionsPostRequest) (*ChatCompletionResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ChatCompletionResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AgentsAPIService.AgentsCompletionV1AgentsCompletionsPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/agents/completions"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.agentsCompletionRequest == nil {
		return localVarReturnValue, nil, reportError("agentsCompletionRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.agentsCompletionRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
